@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-image: url("back1.png");
    background-size: auto;
}
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
.ulu {
    overflow: hidden;
    padding: 0px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
}
h1 {
    color: white;
    display: block;
    text-align: center;
    font-weight: bolder;
    font-family: 'jaldi';
    margin: 0px;
    font-size: 40px;
    float: left;
    margin-left: 20px;
}
.rien {
    padding: 0px;
    float: right;
    margin-right: 20px;
    display: block;
    margin-top: 15px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: filter 0.32s, transform 0.32s;
}
.rien:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
}
h2 {
    color: white;
    display: block;
    width: 250px;
    text-align: center;
    font-weight: bolder;
    font-family: 'jaldi';
    font-size: 50px;
    margin-top: 50px;
    margin: auto auto;
    border-radius: 10px;
}
.container{
    display: flex;
    list-style: none;
}
.container .section{
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.section .info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 8px;
}
.info span , .info h3{
    font-size: 30px;
    font-weight: bold;
    margin: 0px 10px;
    color: black;
    font-family: 'jaldi'
}
.carre {
    position: absolute;
    width: 250px;
    height: 50px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    z-index: -1;
}
.show{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background : rgba(250, 250, 250, 0.2);
    backdrop-filter: blur(20px);
    height: 200px;
    width: 300px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}
ul {
    padding: 10px;
    text-align: center;
    list-style: none;
}
.pierre, .feuille, .ciseaux {
    width: 100px;
    margin-right: 75px;
    transition: transform 0.5s;
}
.pierre:hover, .feuille:hover, .ciseaux:hover {
    transform: scale(1.1);
}
.pierre:focus, .feuille:focus, .ciseaux:focus {
    outline: 0;
}
.ciseaux {
    margin-right: 0px;
}
@media (max-width: 991px) {
    body {
        background-size: auto;
    }
    h1 {
        float: none;
        margin-left: 0px;
    }
    h2 {
        font-size: 40px;
        margin-top: 25px;
    }
    .container .section {
        width: 300px;
    }
    .carre {
        width: 150px;
    }
    .info span , .info h3 {
        font-size: 22px;
        margin: 0px;
        margin-right: 5px;
    }
    .show {
        height: 175px;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    .pierre, .feuille, .ciseaux {
        width: 80px;
        margin-right: 0px;
        margin-top: 50px;
    }
    .pierre, .feuille {
        margin-right: 20px;
    }
    .rien {
        display: none;
    }
}
